.posts {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
}

.postForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  width: 100%;
}

.postImageWrapper {
  position: relative;
  margin-right: 0.5rem;
}

.postImage {
  height: 30px;
  width: 30px;
}

.postImageDelete {
  position: absolute;
  height: 15px;
  width: 15px;
  top: -5px;
  right: -5px;
  &:hover {
    cursor: pointer;
  }
}