.messenger {
  width: 100%;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.leftColumn {
  box-sizing: border-box;
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(51, 51, 51, 0.2);
}

.rightColumn {
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(51, 51, 51, 0.2);
}