.usersList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &.scrollable {
    overflow-y: scroll;
  }
  &::-webkit-scrollbar {
    width: 0.5rem;             
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;       
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgb(182, 182, 182);    
    border-radius: 20px;      
  }
}

.noUsers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}