.friends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(51, 51, 51, 0.2);
}

.friendsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.friendsGridItem {
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.25rem;
  padding: 0.5rem;
  border-radius: 5%;
  cursor: pointer;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  flex-grow: 1;
}

.hoverVisible {
  &:hover {
    background-color: #f3efef;
  }
}




